.dialogflow-chatbot {
  background-color: #b10505;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.dialogflow-chatbot-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

df-messenger {
  --df-messenger-bot-message: #00ffea5c;
  --df-messenger-button-titlebar-color: #72c4bd;
  --df-messenger-chat-background-color: #d6d6d6;
  --df-messenger-font-color: black;
  --df-messenger-send-icon: #c47272;
  --df-messenger-user-message: #c4727225;
  }  